<div class="header">
    <img class="logo-img" src="https://www.avito.ma/img/logo-rbnd.png" />
    <div class="header__options">
        <div class="header__option">
            <a>Rechercher</a>
        </div>
        <div class="header__option">
            <a>Immo neuf</a>
        </div>
        <div class="header__option">
            <a>Chat</a>
        </div>
        <div class="header__option">
            <a>Boutiques</a>
        </div>
        <div class="header__info">
                <mat-icon  >account_circle</mat-icon>
                <h4>Se Connecter</h4> 
        </div>
                  
        <div class="header__infoAnn ">
            <mat-icon  >camera_alt</mat-icon>
            <h4>Déposer une annonce </h4>       
        </div>
    </div>
</div>