<div class="app">
    <app-header></app-header>
    <div class="page__intro">
        <div class="page__introTitle">
            <h1> 1er site d'annonces gratuites au Maroc </h1>
        </div>
        <div class="page__introSubtitle">
            <h4> Trouver la bonne affaire parmi 1 144 905 annonces </h4>
        </div>
    </div>
    
    <app-search></app-search>
    <div class="app__bodyCategory">
        <p class="app__bigTite">Choisissez une catégorie</p>
        <p class="app__subbigTitle">Catégories populaires</p>
        <div class="app__categories">
            <div class="app__category" >
                <div class="app__categoryIcon" style="background-color: #EAF9EF;">
                    <mat-icon style="color: #2EC966;">phone_iphone</mat-icon>
                </div>
                <p style="color: #2EC966;">INFORMATIQUE ET MULTIMEDIA</p>
                
            </div>
            <div class="app__category">
                <div class="app__categoryIcon" style="background-color: #FFEDEE;">
                    <mat-icon style="color: #FF5664;">directions_car</mat-icon>
                </div>
                <p style="color: #FF5664;">VEHICULES</p>
            </div>
            <div class="app__category">
                <div class="app__categoryIcon" style="background-color: #EBF5FF;">
                    <mat-icon style="color: #42AEFF;">home</mat-icon>
                </div>
                <p style="color: #42AEFF;">IMMOBILIER</p>
            </div>
            <div class="app__category">
                <div class="app__categoryIcon" style="background-color: #F2F2F2;">
                    <mat-icon style="color: #4A4A4A;">weekend</mat-icon>
                </div>
                <p style="color: #4A4A4A;">POUR LA MAISON ET JARDIN</p>
            </div>
            <div class="app__category">
                <div class="app__categoryIcon" style="background-color: #F3F1FF;">
                    <mat-icon style="color: #8871FF;">apartment</mat-icon>
                </div>
                <p style="color: #8871FF;">IMMO NEUF</p>
            </div>
            <div class="app__category">
                <div class="app__categoryIcon" style="background-color: #EAF7F5;">
                    <mat-icon style="color: #3CBDBF;">shopping_bag</mat-icon>
                </div>
                <p style="color: #3CBDBF;">EMPLOI ET SERVICES</p>
            </div>
        </div>
        <div class="app__bodyVille">
            <p class="app__bigTite">Choisissez une ville</p>
            <p class="app__subbigTitle">Villes populaires</p>

        </div>

    </div>
   

    
    
    
    

    
</div>